// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LCTRL k2  &ht LALT k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RALT k2  &ht RCTRL k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │ ' "      │
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y         SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O       │
            HRML(A,        R,         S,         T)     &kp G          &kp M      HRMR(N,        E,         I,        O)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp BSPC   &lt 1 ENTER    &lt 2 TAB  &kp SPACE
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ CODE     │ ITALIC   │ UNDERLINE│ BOLD     │ HIGHLIGHT│   │  *       │  7       │  8       │  9       │  /       │
            &kp LG(E)  &kp LG(I)  &kp LG(U)  &kp LG(B)  &kp LSH(LG(H)) &kp ASTRK  &kp N7     &kp N8     &kp N9     &kp FSLH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ L-SHIFT  │ L-CTRL   │ L-OPT    │ L-CMD    │          │   │  +       │  4       │  5       │  6       │  -       │
            &kp LSHFT  &kp LCTRL  &kp LALT   &kp LGUI   &none          &kp PLUS   &kp N4     &kp N5     &kp N6     &kp MINUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ UNDO     │ CUT      │ COPY     │ PASTE    │          │   │  ,       │  1       │  2       │  3       │  =       │
            &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &none          &kp COMMA  &kp N1     &kp N2     &kp N3     &kp EQUAL
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &none      &trans         &kp N0     &kp DOT
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

				right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  $       │  %       │   │  ^       │  &       │  [       │  ]       │  _       │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET  &kp AMPS   &kp LBKT   &kp RBKT   &kp UNDER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  LEFT    │  DOWN    │  UP      │  RIGHT   │  \       │   │ DELETE   │ R-CMD    │ R-OPT    │ R-CTRL   │ R-SHIFT  │
            &kp LEFT   &kp DOWN   &kp UP     &kp RGHT   &kp BSLH       &kp DEL    &kp RGUI   &kp RALT   &kp RCTRL  &kp RSHFT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  `       │  ~       │  {       │  }       │  |       │   │ GLOBAL   │  (       │  )       │  ;       │  :       │
           &kp GRAVE   &kp TILDE  &kp LBRC   &kp RBRC   &kp PIPE       &kp GLOBE  &kp LPAR   &kp RPAR   &kp SEMI   &kp COLON
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &caps_word &kp ESC        &trans     &none 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ F1       │ F2       │ F3       │ F4       │PROFILE 0 │   │ BRIGHTUP │ PAGE UP  │ HOME     │ PRINTSCR │ VOL+     │
            &kp F1     &kp F2     &kp F3     &kp F4     &bt BT_SEL 0   &kp BRIU   &kp PGUP   &kp HOME   &kp PSCR   &kp VOLU
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ F5       │ F6       │ F7       │ F8       │PROFILE 1 │   │ BRIGHTDN │ PAGE DOWN│ END      │          │ VOL-     │
            &kp F5     &kp F6     &kp F7     &kp F8     &bt BT_SEL 1   &kp BRID   &kp PGDN   &kp END    &none      &kp VOLD
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ F9       │ F10      │ F11      │ F12      │PROFILE 2 │   │ INSERT   │ PREVIOUS │ NEXT     │PLAY/PAUSE│ MUTE
            &kp F9     &kp F10    &kp F11    &kp F12    &bt BT_SEL 2   &kp INS    &kp MRWD  &kp MFFD    &kp MPLY   &kp MUTE
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &bt BT_CLR &trans         &trans     &none
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};